


<div class = "container-fluid">
  <h2 style="align-content: center;">Catalogo Productos :</h2>

  <div class="container-fluid">

    <div class = "row2" >

      <div class="form-group mx-sm-3 mb-2">
        <label for="sedes"> Sedes: </label>
        <select
          class="form-control"
          id="sede-select-producto"
          rows="3"
          (change)="setSede()"
        >
          <option [value]="a.id" *ngFor="let a of sedes">{{ a.nombre }}</option>
        </select>
      </div>
     <br>
     <div class="form-group mx-sm-3 mb-2">
      <label for="categoria"> Categorias: </label>
      <select
        class="form-control"
        id="categoria-select-producto"
        rows="3"
        (change)="setCategoria()"
      >
        <option value="1">Seleccione una Categoria</option>
        <option value="Ropa">Ropa</option>
        <option value="Juguete">Juguete</option>
        <option value="Cuidado">Cuidado</option>
        <option value="Productos para Humano">Productos para Humano</option>


      </select>
    </div>

    <div *ngIf="selected">
      <app-producto-detail [productoDetails]="selectProducto"></app-producto-detail>
</div>


    </div>





    <br>
    <div class="container-fluid">
    <div class=" row">

    <div class="col mb-2" *ngFor="let producto of productos">
      <div class="card p-2" style="width: 25rem; height: 30rem;">
        <img
          class="card-img-top"
          src="{{producto.imagen}}"
          alt = "{{producto.nombre}}" (mouseover)="onSelectedDet(producto)"
          />

          <div class = "card-body">
            <h5 class="card-title"> {{producto.nombre}}</h5>
            <p class ="card-text">Precio: {{producto.costo|currency:"COP ":"symbol"}}	</p>
          </div>
      </div>
    </div>

  </div>
</div>
  </div>
</div>
