<div class="container-fluid">
  <p class="h2 p-3">{{packDetail.nombre}}</p>
  <div class="row">

    <div class="col-4">
      <div class="thumb">
        <img class="img-fluid" id="imagen-detail" src="{{packDetail.imagen}}" alt="{{packDetail.nombre}}">
      </div>
    </div>

    <div class="col">
      <dl>
        <dt>Servicios Ofrecidos</dt>
        <dd class="caption" *ngFor="let each_servicio of packDetail.servicios">{{each_servicio.nombre}}</dd>
        <dt>Descripción</dt>
        <dd>{{packDetail.descripcion}} <br> Con un descuento del {{packDetail.descuento}} %.</dd>
        <dt>Costo</dt>
        <dd>{{packDetail.costo}}</dd>
      </dl>
    </div>
  </div>
</div>
