<div class="container-lg">
  <div class="row">
    <div class="col mb-2" *ngFor="let each_pack of packs">
      <div class="card p-2" id="each-card">
        <img class="card-img-top" src="https://themonopolitan.com/assets/img/post/monopolitan/Pooch_pack_01.jpg?ezimgfmt=ng:webp/ngcb80" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{each_pack.nombre}}</h5>
          <p class="card-text">{{each_pack.descripcion}}</p>
      </div>
    </div>
  </div>
</div>
