
<div class="container-lg">
  <div class="row">
    <div class="col col-mb-2 col-sm-3" *ngFor="let servicio of servicios">
        <div class="card p-2" id="each-card" style ="height: 25rem; width: 20rem;">
            <img
              class="card-img-top"
              src="{{ servicio.imagen }}"
              alt="{{ servicio.nombre }}"
              width="300" height="200"
              (click)="onSelected(servicio)"
            />
            <div class="card-body">
              <h5 class="card-title">{{ servicio.nombre }}</h5>
            </div>
        </div>
    </div>
  </div>
</div>
