<div class="container-fluid">
  <div class="row">
    <div class="col mb-2" *ngFor="let servicio of servicios">
      <div class="card p-2" >
        <img
                class="card-img-top"
                src="{{ servicio.imagen }}"
                alt="{{ servicio.nombre }}"
              />
              <div class="card-body">
                <h5 class="card-title">{{ servicio.nombre }}</h5>
                  <p class="card-text">{{ servicio.descripcion }}</p>
              </div>
            </div>
      </div>
    </div>
</div>
