<nav   class="navbar navbar-expand navbar-light" style="background-color: #f9dc5c">
  <div class="container-fluid">
    <a class="navbar-brand bold tiny-left-margin" href="#">DogSpa</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#">Servicios</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#">Packs de servicios</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#">Hall of fame</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#">Productos</a>
        </li>

      </ul>
    </div>
  </div>
</nav>

<div class="container-lg">
  <div class="w-10 p-3" style="background-color: #ffffff;"></div>
  <app-servicio-list></app-servicio-list>
</div>
<app-producto-list></app-producto-list>
