<style>
  @import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300&family=Poppins:wght@100&display=swap');
</style>

<nav class="navbar navbar-expand navbar-light" style="background-color: #f9dc5c">
  <div class="container-fluid">
    <a class="navbar-brand bold tiny-left-margin" routerLink="">DogSpa</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/servicios/list">Servicios</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink="/packDeServicios/list">Packs de servicios</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink="/hallOfFame/list">Hall of fame</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink="/productos/list">Productos</a>
        </li>
        <!-- <li class="nav-item active">
          <a class="nav-link" routerLink="sedes">Sedes</a>
        </li> -->

      </ul>
    </div>
  </div>
</nav>

<div class="container-lg">
  <div class="w-10 p-3" style="background-color: #ffffff;"></div>

</div>
<router-outlet></router-outlet>



<section>
  <footer class="text-center text-white fixed-bottom col-xs-12">
    <div class="text-center p-2" style="background-color: #011936;">
      Desarrollo de Software en Equipos | <a href="https://uniandes.edu.co" target="_blank" title="Sitio oficial" style="color: #FFFFFF; text-decoration: none">Universidad de los Andes</a> ©
    </div>
  </footer>
</section>


