<!-- <div *ngIf="selected">
<app-sede-detail [sedeDetail]="selectedSede"></app-sede-detail>
</div> -->
<div class="row">
  <!-- <div class="col mb-2" *ngFor="let sede of sedes">
        <div class="card p-2" style ="width: 20rem;">
          <img
            class="card-img-top"
            src="{{ sede.imagen }}"
            alt="{{ sede.nombre }}"
            (click)="onSelected(sede)"
          />

          <div class="card-body">
              <h5 class="card-title">Sede {{sede.nombre}}</h5>
          </div>
        </div>
  </div> -->

  <div class="flip-card" *ngFor="let sede of sedes">
    <div class="flip-card-inner">
      <div class="flip-card-front">
        <img src="{{sede.imagen}}" alt="{{sede.nombre}}" style="width: 20rem; height: 12rem;">
      </div>
      <div class="flip-card-back">
        <br>
        <h2>{{sede.nombre}}</h2>
        <p>{{sede.ciudad}}</p>
        <p>{{sede.direccion}}</p>
      </div>
      <div class="yourBlankSpaceDivClass"><br></div>
    </div>
  </div>
</div>



